<div class="container">
    <h2>Orders list </h2>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="#">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> # </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Order Code">
            <mat-header-cell *matHeaderCellDef> Code</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.orderCode}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Order Name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.item}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Price">
            <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.totalPrice | currency:"EGP"}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Order Date">
            <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.orderDate | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>